# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
/misc.xml
modules.xml
profiles_settings.xml
vcs.xml

